<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>View Post</title>
</head>
<body>
    <header>
        <div class="container">
            <a href="/api/blog/view-posts">
                <img src="/css/imgs/logo.png" alt="logo">
            </a>
            <nav>
                <a href="/api/blog/create-post">+</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <h1 class="view-title"><%= post.title %></h1>
            <p class="view-author">by <%= post.author %></p>
            <p class="view-date"><%= post.createdAt.toString().split(" ").slice(1, 3) %></p>
            <img class="view-image" src="<%= post.image %>" alt="">
            <p class="view-content"><%= post.content %></p>
            <a class="view-goback" href="/api/blog/view-posts">Back to Posts</a>
        </div>
    </main>
</body>
</html>